<form>
  <input type="text" placeholder="Texto" />
  <input type="email" placeholder="Email" />
  <div class="password-container">
    <input type="password" placeholder="Senha" />
    <img src="/assets/show-password.svg" alt="visualizar a senha" width="30" />
  </div>
  <fieldset class="small-container">
    <input type="date" />
    <input type="number" />
    <select class="select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </fieldset>
  <fieldset class="checkbox-container">
    <legend>Qual framework/lib javascript você mais gosta?</legend>
    <label>
      <input type="checkbox" value="ReactJS" />
      ReactJS
    </label>
    <label>
      <input type="checkbox" value="Angular" />
      Angular
    </label>
    <label>
      <input type="checkbox" value="VueJS" />
      VueJS
    </label>
  </fieldset>

  <button></button>
</form>
