<form [formGroup]="data">
  <input type="text" placeholder="Nome" formControlName="text" />
  <input type="email" placeholder="Email" formControlName="email" />
  <div class="password-container">
    <input
      [type]="getPasswordIsShow() ? 'password' : 'text'"
      placeholder="Senha"
      formControlName="password"
    />
    <img
      [src]="
        getPasswordIsShow()
          ? '/assets/show-password.svg'
          : '/assets/hide-password.svg'
      "
      alt=""
      width="30"
      (click)="setPasswordIsShow()"
    />
  </div>
  <fieldset class="small-container">
    <input type="date" formControlName="date" />
    <input type="number" formControlName="number" />
    <select class="select" formControlName="selection">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
  </fieldset>
  <fieldset class="checkbox-container">
    <legend>Qual framework/lib javascript você mais gosta?</legend>
    <label>
      <input type="checkbox" value="ReactJS" />
      ReactJS
    </label>
    <label>
      <input type="checkbox" value="Angular" />
      Angular
    </label>
    <label>
      <input type="checkbox" value="VueJS" />
      VueJS
    </label>
  </fieldset>

  <button></button>
</form>
