<form [formGroup]="data">
  <input type="text" placeholder="Nome" formControlName="text" />
  <input type="email" placeholder="Email" formControlName="email" />
  <div class="password-container">
    <input
      [type]="getPasswordIsShow() ? 'password' : 'text'"
      placeholder="Senha"
      formControlName="password"
    />
    <img
      [src]="
        getPasswordIsShow()
          ? '/assets/show-password.svg'
          : '/assets/hide-password.svg'
      "
      alt=""
      width="30"
      (click)="setPasswordIsShow()"
    />
  </div>
  <fieldset class="small-container">
    <input type="date" formControlName="date" />
    <input type="number" formControlName="number" />
    <select class="select" formControlName="selection">
      <legend>Quantos anos você tem de experiência?</legend>
      <option value="1">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="3">4 ou mais</option>
    </select>
  </fieldset>
  <fieldset class="checkbox-container">
    <legend>Qual framework/lib javascript você mais gosta?</legend>
    <label>
      <input type="checkbox" value="ReactJS" />
      ReactJS
    </label>
    <label>
      <input type="checkbox" value="Angular" />
      Angular
    </label>
    <label>
      <input type="checkbox" value="VueJS" />
      VueJS
    </label>
  </fieldset>
  <fieldset class="buttons-container">
    <button (click)="saveAndEditForm($event)" class="buttons-edit-save">
      {{ data.enabled ? "Salvar" : "Editar" }}
    </button>
    <button class="buttons-clear" (click)="clearFields()">Limpar Dados</button>
  </fieldset>
</form>
