<form [formGroup]="data" (submit)="saveAndEditForm($event)">
  <input type="text" placeholder="Texto" formControlName="text" />
  <input type="email" placeholder="Email" formControlName="email" />
  <div class="password-container">
    <input
      [type]="getPasswordIsShow() ? 'password' : 'text'"
      placeholder="Senha"
      formControlName="password"
    />
    <img
      [src]="
        getPasswordIsShow()
          ? '/assets/show-password.svg'
          : '/assets/hide-password.svg'
      "
      alt=""
      width="30"
      (click)="setPasswordIsShow()"
    />
  </div>
  <fieldset class="small-container">
    <div>
      <input type="date" formControlName="date" />
    </div>
    <div>
      <input type="number" formControlName="number" />
    </div>
    <select class="select" formControlName="selection">
      <option value="1">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="3">4</option>
    </select>
  </fieldset>
  <fieldset class="checkbox-container">
    <label>
      <input type="checkbox" value="ReactJS" />
      ReactJS
    </label>
    <label>
      <input type="checkbox" value="Angular" />
      Angular
    </label>
    <label>
      <input type="checkbox" value="VueJS" />
      VueJS
    </label>
  </fieldset>
  <fieldset class="buttons-container">
    <button class="buttons-edit-save">
      {{ data.enabled ? "Salvar" : "Editar" }}
    </button>
    <button class="buttons-clear" (click)="clearFields()">Limpar Dados</button>
  </fieldset>
</form>
